body {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("../images/bao-groceries.png");
  background-repeat: no-repeat;
  background-color: rgb(240, 248, 255);
}

a {
  color: #00B7FF;
}

.ta-list-group-item {
  position: relative;
  display: block;
  padding: 0.5rem 1rem;
  color: #212529;
  text-decoration: none;
  background-color: #ffffff;
 
}

.opacity-90{
  opacity: 0.9;
}

.ta-container{
  display: flex;
  max-width: 1000px;
}

.spacing-around{
  margin: 5px;
}


.vertical-centered-button{
  padding:1%;
 
}

.small-button-right{
  height: 25px;
  line-height: 0%;
  float: right;
}
