body {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("../images/bao-groceries.png");
  background-repeat: no-repeat;
  background-color: aliceblue;

}

a {
  color: #00B7FF;
}

.ta-list-group-item {
  position: relative;
  display: block;
  padding: 0.5rem 1rem;
  color: #212529;
  text-decoration: none;
  background-color: #fff;
 
}

.ta-container{
  display: flex;
}

.vertical-centered-button{
  padding:1%;
 
}

.small-button-right{
  height: 25px;
  line-height: 0%;
  float: right;
}
